# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-java-with-maven

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Java CI with Maven for veraPDF WebApp

on:
#  schedule:
#    - cron: "05 04 * * *"
  push:
    branches: [ "master" ]
  # pull_request:
  #   branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - name: Prepare linux packages ... 
      run: |
        echo pwd: $PWD
        echo dir: $(ls ./)

        sudo apt update
        sudo apt install wget
        wget https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
        sudo dpkg -i google-chrome-stable_current_amd64.deb


    - name: Running veraPDF WebApp Selenium tests

      run: |
        echo pwd: $PWD
        echo dir content: $(ls ./)
        whoami

        google-chrome --version
        mvn -version

        mvn clean install

        echo pwd: $PWD
        echo dir content: $(ls ./)

    - name: Generating report
      uses: actions/upload-artifact@v1
      if: success() || failure()
      with:
        name: Results
        path: "./target"
